icon ICON pacman_128X128.ico
1 VERSIONINFO
FILEVERSION 0,0,0,1
PRODUCTVERSION 0,0,0,1
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "FileDescription", "Pacman"
		VALUE "FileVersion", "0.001"
		VALUE "InternalName", "Pacman"
		VALUE "OriginalFilename", "PACMAN.EXE"
		VALUE "ProductName", "PACMAN"
		VALUE "ProductVersion", "0.001"
	}
}
}

